<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Actorilor</title>
</head>
<body>
    <h1>Actorii Noștri</h1>
    <ul id="lista-actori"></ul>

    <script src="/js/actori.js"></script>
</body>
</html>
